$size: 726px;
$size2: 768px;
$size3: 425px;
$size4: 70px;

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

body {
  background: #ccc;
  @include size(1440px, $size);
  margin: auto;
}

header {
  background: url(../images/rectangle.png), #c4c4c4;
  @include size(1440px, $size);
}

a {
  text-decoration: none;
}

.logo {
  color: #fff;
  display: inline-block;
  margin: 37px 0 0 150px;
  font-size: 18px;
}

#nav-bar {
  float:right;
  margin: 37px 162px;
}

#nav-bar a {
  color: #fff;
  font-size: 12px;
}

#nav-bar svg {
  margin-left: 24px;
}

@media screen and (max-width: $size2) {
  body{
   background: #ccc;
   @include size($size2, $size);
   margin: auto;
  }

  header {
   background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/rectangle.png), #C4C4C4;
   @include size($size2, 597px);
  }

  .tablet {
   background: rgba(0, 0, 0, 0.4);
   height: 67px;
  }

  .logo {
    margin: 22px 0 0 24px;
  }

  #nav-bar{
   margin: 21px 26px;
  }
}

@media screen and (max-width: $size3) {
  body{
   width: $size3;
  }

  header {
   background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/rectangle.png), #C4C4C4;
   @include size($size3, 664px);
 }

 .tablet {
  background: rgba(0, 0, 0, 0.4);
  @include size($size3, 62px);
}

  .logo {
   margin: 15px 0 25px 15px;
  }

  #nav-bar{
   display: none;
  }

  .menu-icon::before {
   content: url('../images/menu2.png');
   margin-left: 264px;
  }
}

.title {
  width: 648px;
}

#content {
  @include size(748px, 3481px);
  box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.14), 0px 8px 10px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.down-image {
  margin: 0 5px -5px 30px;
}

#headers {
  @include size(549px, 304px);
  margin: 146px 0 0 142px;
}

@media screen and (max-width: $size2) {
  #headers {
   margin: 107px 0 0 24px;
  }
}

@media screen and (max-width: $size3) {
  #headers {
   @include size(383px, 416px);
  }

  .title {
   width: 345px;
  }
}

.title {
  color: #fff;
  font-size: 53.2px;
  line-height: 62px;
  margin: 0;
}

.title2 {
  color: #fff;
  font-size: 18.2px;
  line-height: 21px;
  margin-top: 11px;
}

.rintagle {
  @include size(179px, 54px);
  background: #f44336;
  border-radius: 3px;
  box-shadow: 0px 2px 2px rgba(244, 67, 54, 0.14);
  margin-top: 42px;
}

.video {
  color: #fff;
  display: inline-block;
  font-size: 18px;
  margin: 15px 0 0 30px;
  text-decoration: none;
}

.watch {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

#content {
  @include size(1380px, 2045px);
  background: #fff;
  border-radius: 6px;
  box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.14), 0px 8px 10px rgba(0, 0, 0, 0.2);
  margin: -60px 0 0 30px;
}

h1 {
  color: #3c4858;
  display:inline-block;
  font-size: 36.4px;
  line-height: 43px;
  margin: 95px 0 0 552px;
}

.text {
  color: #999;
  font-size: 17.5px;
  line-height: 21px;
  margin: 31px 0 0 331px;
  text-align: center;
  width: 723px;
}

.first-f {
  @include size(328px, 201px);
  display: inline-block;
  margin: 161px 62px 0 138px;
}

.icon3 {
  @include size(70px, 70px);
  margin-left: 127px;
}

h2 {
  color: #3c4858;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.text2 {
  color: #999;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.second-f {
  @include size(328px, 201px);
  display: inline-block;
  margin-right: 62px;
}

.third-f {
  @include size(328px, 201px);
  display: inline-block;
}

#team {
  margin: 208px 0 0 125px;
}

h5 {
  color: #3c4858;
  font-size: 36.4px;
  font-weight: normal;
  line-height: 43px;
  margin-left: 440px;
}

.one {
  @include size(352px, 412px);
  display: inline-block;
  margin-top: 86px;
}

.avatar1 {
  margin-left: $size4;
}

.name {
  color: #3c4858;
  font-size: 18.2px;
  text-align: center;
}

.model {
  color: #777;
  font-size: 13.65px;
  text-align: center;
}

.text5 {
  color: #999;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.TW {
  margin-left: 119px;
}

.insta {
  margin: 0 29px;
}

.two {
  @include size(352px, 412px);
  display: inline-block;
  margin-left: 39px;
}

.tw2 {
  margin: 0 29px 0 144px;
}

.three {
  @include size(352px, 412px);
  display: inline-block;
  margin-left: 39px;
}

.color {
  color: #9C27b0;
}

#work-us {
  @include size(753px, 423px);
  margin: 185px 0 0 315px;
}

h6 {
  color: #3c4858;
  font-size: 36.4px;
  font-weight: normal;
  margin: 0;
  text-align: center;
}

.text6 {
  color: #999;
  height: 72px;
  font-size: 18.2px;
  font-weight: 300;
  margin-top: 30px;
  text-align: center;
}

.type-bg {
 margin-top: 36px;
}

[type="name"] {
  border: none;
  border-bottom: 2px solid grey;
  height: 38px;
  outline: none;
  width: 361px;
}

[placeholder] {
  color: #999;
  font-family: Roboto;
  font-size: 14px;
  height: 17px;
}

[type="name"]:hover {
  border: none;
  border-bottom: 2px solid #9C27b0;
}

.right {
  margin-right: 19px;
}

[type="message"] {
  @include size(751px, 92px);
  border: none;
  outline: none;
  border-bottom: 2px solid grey;
}

[type="message"]:hover {
  border: none;
  border-bottom: 2px solid #9C27b0;
}

[name="button"] {
  @include size(148px, 41px);
  background: #9C27b0;
  border: none;
  box-shadow: 0px 2px 2px rgba(156, 39, 176, 0.2);
  border-radius: 3px;
  margin: 25px 0 0 301px;
}
 /*class right dont work?*/
.right {
  margin-right: 25px;
}

.colortext {
  color: #9C27b0;
}

[name="button"]:hover {
  @include size(148px, 41px);
  background: #9C27b0;
  border: none;
  box-shadow: 0px 5px 14px rgba(156, 39, 176, 0.42), 0px 3px 10px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
}

button {
  color: #fff;
  font-size: 12px;
  line-height: 14px;
}

@media screen and (max-width: $size2) {
  #content {
   @include size(748px, 3481px);
   margin-left: 10px;
  }

  h1 {
   font-weight: normal;
   margin: 94px 235px;
  }

  .text  {
   margin-left: 13px;
  }

  .first-f {
   display: block;
   margin: 162px 205px 0;
  }

  .second-f {
   display: block;
   margin: 107px 207px;
 }

 .third-f {
  display: block;
  margin: 100px 210px;
 }

 h5 {
  margin-left: 241px;
 }

 #team {
  margin: 0;
 }

 .one {
  margin-left: 19px;
  width: 713px;
 }

 .avatar1{
  margin-left: 239px;
 }

 .two {
  width: 713px;
  margin-left: 19px;
 }

 .three {
  width: 713px;
  margin-left: 19px;
 }

 .TW {
  margin-left: 300px;
 }

 .tw2 {
  margin: 0 29px 0 314px;
 }

 #work-us {
  @include size(716px, 500px);
  margin: 185px 0 0 16px;
 }
/*
 .type-bg {
   margin: 0;
 }
*/
  [type="name"] {
   @include size(716px, 38px);
   border-bottom: 1px solid grey;
  }

  [type="message"] {
   border-bottom: 1px solid grey;
   width: 716px;
  }

  [name="button"] {
   margin-left: 284px;
  }
}

@media screen and (max-width: $size3) {
  #content {
   @include size(405px, 3718px);
  }

  h1 {
   margin: 94px 60px 0 65px;
  }

  .text {
   width: 368px;
  }

  .first-f {
   margin: 162px 36px 0
  }

  .second-f {
   margin: 108px 39px 0;
  }

  .third-f {
    margin: 108px 39px 0;
  }

  #team {
   @include size(373px, 1402px);
   margin-left: 9px;
  }

  h5 {
   @include size(268px, 43px);
   margin: 207px 68px 0 69px;
  }

  .one {
   @include size(372px, 411px);
  }

  .avatar1 {
   margin-left: $size4;
  }

  .TW {
   margin-left: 130px;
  }

  .two {
   @include size(372px, 411px);
  }

  .three {
   @include size(372px, 411px);
  }

  .tw2 {
   margin: 0 29px 0 144px;
  }

  h6 {
   margin: 185px 92px 37px;
   width: 209px;
  }

  .text6 {
   width: 378px;
  }

  [type=name] {
   width: 378px;
   margin-top: 30px;
  }

  [type=message] {
   width: 378px;
   margin-top: 38px;
  }

  [name=button] {
   margin-left: 122px;
  }
}

footer {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  width: 1222px;
}

#foot-menu {
 margin-left: 135px;
}

footer a{
  color: #333;
  font-size: 12px;
  margin-right: 33px;
}

footer p {
  color: #000;
  font-size: 10px;
  line-height: 11px;
}

@media screen and (max-width: $size2) {
  footer {
   @include size(659px, 62px);
   display: block;
   margin: 31px 0 0 39px;
  }

  #foot-menu{
   margin: 0;
  }

  #footer-right {
   margin-left: 260px;
  }
}

@media screen and (max-width: $size3) {
  #footer-right {
   margin-left: 90px;
  }
}
